@import 'node_modules/bootstrap/scss/bootstrap';

.dresses {
    display: flex;
    justify-content: center;
    align-items: center;
    .dress-box {
        width: 400px;
        height: 600px;
        border: 1px solid grey;
        border-radius: 10px;
        margin: 20px;
        padding: 20px;
        img {
            height: 200px;
        }
        .long-string {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

i {
    padding: 0 10px;
}